{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    WeatherTop 2
  </h3>
  <p>
    Weather application to show the latest conditions and readings at given weather stations.
  </p>
</section>
